BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Attach
PointerAlignment: Left
LineEnding: LF
